@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(252, 250, 250);
}
.container{
    background-color: rgb(218, 217, 217);
    overflow: hidden;
    color: rgb(4, 4, 4);
    border-radius: 10px;

    
}
.container a{
    text-decoration: none;
    font-size: 20px;
    padding: 12px 14px;
    float: right;
}
.container a:hover{
    background-color: white;
    color: black;
}
.container-active{
    background-color: rgb(6, 6, 6);
    color: rgb(253, 252, 249);
    border-radius: 10px;
}
.container h3{
    font-size: 30px;
    position: absolute;
    padding-left: 10px;
}
.sansserif{
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}
.sansserif-judul{
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    font-size: 42px;
    margin-top: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
}
.sansserif-isi{
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 200;
    text-transform: none;
    margin-top: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.li{
    font-family: 'Open Sans', sans-serif;
    margin-left: 100px;
}
input{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    color: #666666;
    background-color: #fafafa;
    border-color: #cccccc;
}